@charset "UTF-8";

body {
    background-color: black;
    background-image: url("/imagens/fundo-madeira.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative;
}

/* Melhorar o posicionamento para o celular ficar centralzado
(provavelmente teremos de voltar ao margin auto) */

div.celular {
    width: 217.2px;
    height: 438.9px;
    margin: auto;
    margin-top: 8%;
    background-image: url("/imagens/frame-iphone.png");
    background-size: contain;
    position: relative;
}

div.icones { 
 
}

.div-iframe {
    height: 333px;
    width: 210px;
    position: absolute;
    left: 15px;
    top:53px;
}

.pequeno {
    border-radius: 150px;
    width:60px
}

#home {
    position: absolute;
    top: 10%;
    left: 100%;
    transform: translate(-100%, -100%);

}

#youtube {
    position: absolute;
    top: 27% ;
    left: 100%;
    transform: translate(-100%, -100%);
}

#github {
    position: absolute;
    top: 44%;
    left: 100%;
    transform: translate(-100%, -100%);
}

#instagram {
    position: absolute;
    top: 62%;
    left: 100%;
    transform: translate(-100%, -100%);
}

#twitter {
    position: absolute;
    top: 81%;
    left: 100%;
    transform: translate(-100%, -100%);
}

#facebook {
    position: absolute;
    top: 99%;
    left: 100%;
    transform: translate(-100%, -100%);
} 

